{% from "nodemacro.html" import show_node %}

<!DOCTYPE html>
<html lang="en">
  <title>MDGS - {{file}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/mdgs/static/w3.css">
  <link rel="stylesheet" href="/mdgs/static/style.css" type="text/css">
  <link rel="stylesheet" href="/mdgs/static/codehilite.css" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">

  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <script src="/mdgs/static/fontawesome.min.js"></script>

  <body>
    <!-- Left menu -->
    {% include 'leftmenu.html' %}

    <!-- Right menu -->
    {% include 'rightmenu.html' %}

    <!-- Content -->
    <div style="margin-left:340px;margin-right:340px">
      <div id="mdgsStatus">Status: </div>
      <a href="/mdgs/{{file}}"> ← Back </a>
      {% autoescape false %}
      {{ html }}
      {% endautoescape %}
      <textarea>
  # Loading
      </textarea>
      <form id="editForm" action="/mdgs/submitCommit" method="post" onsubmit="return beforeSubmit();">
        <input id="fileName" name="fileName" type="hidden" value="{{file}}">
        <textarea style="display:none;" id="content" name="content" rows="5" cols="33" type="hidden">Default Value</textarea>
        Your commit message:<br />
        <textarea id="commitMessage" name="commitMessage" rows="5" cols="50"></textarea><br />
        Your quadrigram:<br />
        <input id="quadrigram" name="quadrigram"><br />
        <input type="submit" value="Submit">
      </form> 

      <script src="/mdgs/static/script.js"></script>

      <script>
        var easyMDE = new EasyMDE();
        easyMDE.value('Fetching file');

        document.addEventListener('DOMContentLoaded', () => {
          fetch("/mdgs/raw/{{file}}").then(function(response) {
            response.text().then(function(text) {
              easyMDE.value(text);
            });
          });
        });

        function beforeSubmit(){
          if(document.getElementById("commitMessage").value == "" || document.getElementById("quadrigram").value.length != 4){
            alert("Commit message should not be empty and quadrigram should be 4 characaters long")
            return false;
          } else {
            document.getElementById("content").value = easyMDE.value()
            document.getElementById("editForm").submit(function() { });
          }
        }
      </script>
    </div> <!-- Content -->
  </body>
</html>
