{% macro show_node_n(files) %}
{% if files.type == "file" %}
  <li style="list-style-type: none;"><a href=/mdgs/view/{{files.path}} style="font-weight: normal;" >{{files.name}}</a></li>
{%else%}
  <li style="list-style-type: none;"><span>{{files.name}}</span>
    <ul style="list-style-type: none;">
    {% for key in files.children %}
      {{ show_node_n(key) }}
    {% endfor %}
    </ul>
  </li>
{% endif %}
{% endmacro %}

{% macro show_node_m(files) %}
<div style="margin: 5px; background-color:#07365c; color:white; padding: 5px;">
{% if files.type == "file" %}
  <li style="list-style-type: none;"><a href=/mdgs/view/{{files.path}} style="font-weight: normal;" >{{files.name}}</a></li>
{%else%}
  <li style="list-style-type: none; font-weight: bolder; font-size: large;"><span>{{files.name}}</span>
    <ul style="list-style-type: none;">
    {% for key in files.children %}
      {{ show_node_n(key) }}
    {% endfor %}
    </ul>
  </li>
</div>
{% endif %}
{% endmacro %}

    {% macro show_node_masonry(files) %}
        {% for key in files.children %}
        <div style="" class="grid-item">
          {{ show_node_m(key) }}
        </div>
        {% endfor %}
    {% endmacro %}